html{
    margin: 30px;
    font-family: "Arial Black";
}
.navbar-brand{
    font-size: xxx-large;
}
.nav-link{
    font-size: x-large;
}
.card{
    margin-top: 20px;
}
.card-img-top{
    height:150px;
}