.activeFilter {
    background-color: red;
}

.allFilters {
    background-color: darkgrey;
    padding-bottom: 10px;
    padding-top: 5px;
    text-align: center;
    color: black;
}

.artistName {
    padding: 5px;
}

.card {
    margin-top: 20px;
}

.card-img-top {
    height: 150px;
}


.error {
    color: red;
    font-size: larger;
}

.errorPage{
    color: black;
    text-align: center;
}

.fieldError, input.fieldError{
    border: red 3px solid;
}



.filterButton {
    width: 100%;
}

.footer {
    background-color: slategrey;
    color: black;
    margin-top: 20px;
    text-align: center;
}

.hidden {
    visibility: hidden;
}

.html {
    font-family: "Arial Black";
    margin: 20px;
}

.itemDisplay,
.allFilters {
    background-color: darkgrey;
    color: black;
    margin-top: 10px;
    text-align: center;
}

.itemDisplay:hover {
    background-color: #007bff;
}

.itemLink:hover {
    text-decoration: none;
}

.nav-item {
    border: 1px;
    border-color: grey;
    border-radius: 10px;
    border-style: solid;
    margin: 5px 10px;
    padding: 5px 10px;
}

.nav-link {
    font-size: x-large;
}

.navbar {
    padding-left: 20px;
}

.navbar-brand {
    font-size: xxx-large;
}

.nav-item {
    border: 1px;
    border-color: grey;
    border-radius: 10px;
    border-style: solid;
    margin: 5px 10px;
    padding: 5px 10px;
}

.nav-link {
    font-size: x-large;
}

.navbar {
    padding-left: 20px;
}

.navbar-brand {
    font-size: xxx-large;
}

.nav-item {
    border: 1px;
    border-color: grey;
    border-radius: 10px;
    border-style: solid;
    margin: 5px 10px;
    padding: 5px 10px;
}

.nav-link {
    font-size: x-large;
}

.navbar {
    padding-left: 20px;
}

.navbar-brand {
    font-size: xxx-large;
}

.nav-item {
    border: 1px;
    border-color: grey;
    border-radius: 10px;
    border-style: solid;
    margin: 5px 10px;
    padding: 5px 10px;
}

.notActiveFilter {
    background-color: #007bff;
}

.venueCapacity {
    color: black;
    font-size: medium;
    font-weight: normal;
}

.venueCapacity p {
    margin: 5px 0px 10px 0px;
}

.venueName,
.artistName {
    color: black;
    font-size: large;
    font-weight: bold;
}

.venueName p {
    margin: 10px 0px 0px 0px;
}
