<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}"/>
    <meta charset="UTF-8">
    <title>About</title>
</head>
<body>
<navbar>
    <!-- <h1 th:text="${appName} +' --- '+ ${appName}">appName</h1> -->
    <h1 th:text="${appName}">appName</h1>
    <ul>
        <li><a th:href="@{/home}">Home</a></li>
        <li><a th:href="@{/about}">about</a></li>
        <li><a th:href="@{/pay}">pay</a></li>
        <li><a th:href="@{/venuedetails}">venue</a></li>
        <li><a th:href="@{/clientgreeting}">clientgreeting</a></li>
    </ul>
</navbar>
<h1>About</h1>
<p>
    This is the about file
</p>

<ol>
    <li th:text="${myName}"></li>
    <li th:text="${myStreet}"></li>
    <li th:text="${myCity}"></li>
</ol>

<!-- <p th:text="'ik ben ' + ${myName} +' en woon in de'+ ${myStreet} + ',te ' + ${myCity}">appName</p> -->
<p th:text="|ik ben ${myName} en woon in de ${myStreet}, te ${myCity}|">appName</p> <!--dit is hetzelfde als de regel erboven maar makelijker leesbaar-->

<a th:href="@{/home}">klik hier om naar "home" te gaan</a>
</body>
</html>