<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Amimaldetails</title>
    <!-- css en js file inladen voor bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- eigen css file inladen -->
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}"/>
</head>
<body>
<div th:replace="~{fragments/header :: header}">Header</div>
<div class="container-lg text-center">
    <div class="row">
        <div class="col-md-1 justify-content-start">
            <a th:href="@{|/animaldetails/${prevId}|}" th:classappend="${prevId == null} ? 'hidden'"
               class="btn btn-primary" tabindex="-1" role="button" aria-disabled="true"><<<</a>
        </div>
        <div class="col-md-10 d-flex justify-content-center">
            <div class="content-center">
                <div class="contentFound " th:if="${animal}">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h1 class="card-title" th:text="${animal.name}">Card title</h1>
                        </div>
                        <ul class="list-group list-group-flush">

                            <li class="list-group-item" th:if="${animal.city != null}">
                                <div class="container"}>
                                    <div class="row" >
                                        <div class="col-sm-6">
                                            city:
                                        </div>
                                        <div class="col-sm-6"  th:text="${animal.city}">
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="container" }>
                                    <div class="row">
                                        <div class="col-sm-6" th:if="${animal.bio != null}">
                                            bio:
                                        </div>
                                        <div class="col-sm-6"  th:text="${animal.bio}">
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item" th:if="${!animal.parties.isEmpty()}">
                                <div class="container">
                                    <h2>going to:</h2>
                                    <div class="col-md-12" th:each="party:${animal.parties}">
                                        <a class="itemLink" th:href="@{|/partydetails/${party.id}|}">
                                            <div class="container itemDisplay">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="row">
                                                            <div class="col-md-12 partyName">
                                                                <p th:text="${party.name}"></p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="contentFound" th:unless="${animal}">
                    <p>no animal was chosen</p>
                </div>
            </div>
        </div>
        <div class="col-md-1 justify-content-end">
            <a th:href="@{|/animaldetails/${nextId}|}" th:classappend="${nextId == null} ? 'hidden'"
               class="btn btn-primary" tabindex="-1" role="button" aria-disabled="true">>>></a>
        </div>
    </div>
</div>

<div th:replace="~{fragments/footer :: footer}">Footer</div>
</body>
</html>