<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}"/>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<navbar>
    <!-- <h1 th:text="${appName} +' --- '+ ${appName}">appName</h1> -->
    <h1 th:text="${appName}">appName</h1>
    <ul>
        <li><a th:href="@{/home}">Home</a></li>
        <li><a th:href="@{/about}">about</a></li>
        <li><a th:href="@{/pay}">pay</a></li>
        <li><a th:href="@{/venuedetails}">venue</a></li>
    </ul>
</navbar>

<h1>
    Welcome to the home
</h1>
    <p> Dit is mijn eerste webapp via Spring <br><br>
    5x12=</p>
    <p th:text="${myCalculatedValue}"></p>
    <p th:text="${5*12}">app</p>

<a th:href="@{/about}">klik hier om naar "about" te gaan</a>

</body>
</html>