<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Venuelist</title>
    <!-- css en js file inladen voor bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- eigen css file inladen -->
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}"/>
</head>
<body>

<div th:replace="~{fragments/header :: header}">Header</div>
<div class="container">
    <div class="row">
        <div class="col-md-5">
            <div class="col-md-12">
                <p style="text-align:center" th:text="|${numberOfVenues} venues found|">number of venues found</p>
            </div>
            <div class="col-md-12 filterButton"  th:if="${showFilter}">
                <a th:href="@{|/venuelist|}">-</a>
                <form>
                    <h3>capacity</h3>
                    <div class="oneFilter">
                        <label for="minCapacity" class="filterName">min</label>
                        <input type="number" id="minCapacity" name="minCapacity" value="" th:value="${minCapacityFiltered}" step="50" min="0"> persons
                    </div>
                    <div class="oneFilter">
                        <label for="maxCapacity" class="filterName">min</label>
                        <input type="number" id="maxCapacity" name="maxCapacity" value="" th:value="${maxCapacityFiltered}" step="50" min="0"> persons
                    </div>
                    <div class="oneFilter">
                        <input type="submit" value="search" class="buttonLook filterButton">
                    </div>
                </form>
            </div>
            <div class="col-md-12 filterButton" th:unless="${showFilter}">
                <a th:href="@{|/venuelist/filter|}">Filter</a>
            </div>
        </div>

        <div class="col-md-5">
            <div class="row">
                <div class="col-md-12" th:each="venue:${venues}">
                    <a th:href="@{|/venuedetails/${venue.id}|}">
                        <div class="container venueDisplay">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-12 venueName">
                                            <p th:text="${venue.venueName}"></p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 venueCapacity">
                                            <p th:text="|Capacity: ${venue.capacity}|"></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="~{fragments/footer :: footer}">Footer</div>
</body>
</html>