<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
  <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}"/>
  <meta charset="UTF-8">
  <title>pay</title>
</head>
<body>
<navbar>
  <ul>
    <li><a th:href="@{/home}">Home</a></li>
    <li><a th:href="@{/about}">about</a></li>
    <li><a th:href="@{/pay}">pay</a></li>
    <li><a th:href="@{/venuedetails}">venue</a></li>
  </ul>
</navbar>

<p th:text="${venue.getVenueName()}"></p>
<p >link: </p> <a th:href="@{${venue.getLinkMoreInfo()}}" th:text="${venue.getLinkMoreInfo()}"></a>
<p >Capacity: </p> <p th:text="${venue.getCapacity()}"></p>
<p >food provided: </p> <p th:text="${venue.isFoodProvided() ? 'yes' : 'no'}"></p>
<p >indoor: </p> <p th:text="${venue.isIndoor() ? 'yes' : 'no'}"></p>
<p >outdoor: </p> <p th:text="${venue.isOutdoor() ? 'yes' : 'no'}"></p>
<p >free parking: </p> <p th:text="${venue.isFreeParkingAvailable() ? 'yes' : 'no'}"></p>
<p >city: </p> <p th:text="${venue.getCity()}"></p>
<p >distance to public transport: </p> <p th:text="|${venue.getDistanceFromPublicTransportInKm()} km|"></p>
</body>
</html>